/* General */
div#logo {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 40pt;
	text-align: center;
	margin: 20px auto;
}

div#logo a {
	color: #000000;
}

div.content {
	text-align: left;
	width: 470px;
	padding: 20px;
	margin: auto;
}

div.content span.actions {
	font-size: 0.8em;
	display: none;
}

div.content span.actions a {
	color: #4D4D4D;
}

div.content span.actions a:hover {
	background-color: #4D4D4D;
	color: #FFFFFF;
	padding: 2px;
}

a.bookmarklet {
	border: solid 1px #36C;
	padding: 2px;
	background-color: #36C;
	color: #FFFFFF;
}

a.bookmarklet:hover {
	color: #36C;
	background-color: #FFFFFF;
}

div#copyright {
	font-size: 12px;
	line-height: 16px;
}

/* Form */
form {
	margin: auto;
	width: 350px;
}

label {
	display: block;
}

div.submit {
	text-align: center;
}

div.error-message {
	font-size: 0.8em;
	color: #FF0000;
}