/* General */
div#logo {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 40pt;
	text-align: center;
	margin: 20px auto;
}

div#logo a {
	color: #000000;
}

div.content {
	text-align: left;
	width: 450px;
	padding: 20px;
	margin: auto;
}

div#copyright {
	font-size: 12px;
	line-height: 16px;
}

/* Form */
form {
	margin: auto;
	width: 350px;
}

label {
	display: block;
}

div.submit {
	text-align: center;
}

div.error-message {
	font-size: 0.8em;
	color: #FF0000;
}